auto-save-list
tmp
*~
starter-kit.el
bookmarks
ede-projects.el
init.el.before_ecb_2.40
semanticdb
ac-comphist.dat
eshell
init.el.before_ecb_2.40__1
tramp
*.el
/svl/#starter-kit-cedet.el#
srecode-map.el
/.gitignore.orig
/starter-kit.org.BACKUP.29333.org
/starter-kit.org.BASE.29333.org
/starter-kit.org.LOCAL.29333.org
/starter-kit.org.REMOTE.29333.org
