[submodule "src/ecb"]
	path = src/ecb
	url = https://github.com/alexott/ecb.git
[submodule "src/auto-complete"]
	path = src/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "src/color-theme-tangotango"]
	path = src/color-theme-tangotango
	url = https://github.com/juba/color-theme-tangotango.git
[submodule "src/color-theme-zenburn"]
	path = src/color-theme-zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
