auto-save-list
tmp
*~
bookmarks
init.el.before_*
semanticdb
ac-comphist.dat
eshell
tramp
starter*.el
srecode-map.el
.org-id-locations
session*
url
abbrev_defs
projectile-bookmarks.eld
/src/ede-cmake
/.#ac-comphist.dat
/.#.org-id-locations
/.#bookmarks
/.#session.10581c47cab74e8ea140025619252243500000017030118
/org-caldav-backup.org
/projectile.cache
/tutorial/
/.#session.1099a62ae931bae779144648760018779600000022990073
/ido.last
/recentf
*.data
/org-caldav-7fd9b90.el
/org-caldav-c815429.el
/stability-book.bmk
/image-dired/33MXtR04G3E_20fac1546a8eedffd6b90d174d7099fc.thumb.jpg
/.cache/treemacs-persist
/image-dired/front_cover_bf1ce7b3a84c95f67450327658ec4a44.thumb.jpeg
/src/mu4e/mu4e-actions.el
/src/mu4e/*.el*
